.main{
  margin-top: 50px;
  position: absolute;
  right: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid black;
  padding: 20px;
  background-color: rgba(0, 247, 255, 0.3);
}
input{
  
  padding: 10px;
  font-size: 17px;
  font-weight: bolder;
  background-color: rgba(113, 115, 115, 0.674);
  border: 2px solid black;
  border-radius: 5px;
  
  
}